<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.transactions>
    <defaultSettings xdt:Transform="RemoveAttributes(timeout)" />
  </system.transactions>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="RemoteOnly" xdt:Transform="SetAttributes(mode)" />
    <machineKey validationKey="AutoGenerate" decryptionKey="AutoGenerate" xdt:Transform="SetAttributes(validationKey,decryptionKey)" />
  </system.web>

  <system.webServer>
    <!-- Azure Web Apps misses a lot of mime maps for some reason, so adding them. Otherwise such files would be served 
    (and saved to Blob storage) as text/plain. -->
    <staticContent>
      <remove fileExtension=".7z" xdt:Transform="Insert" />
      <mimeMap fileExtension=".7z" mimeType="application/x-7z-compressed" xdt:Transform="Insert" />
      <remove fileExtension=".avi" xdt:Transform="Insert" />
      <mimeMap fileExtension=".avi" mimeType="video/avi" xdt:Transform="Insert" />
      <remove fileExtension=".cshtml" xdt:Transform="Insert" />
      <mimeMap fileExtension=".cshtml" mimeType="text/plain" xdt:Transform="Insert" />
      <remove fileExtension=".doc" xdt:Transform="Insert" />
      <mimeMap fileExtension=".doc" mimeType="application/msword" xdt:Transform="Insert" />
      <remove fileExtension=".docx" xdt:Transform="Insert" />
      <mimeMap fileExtension=".docx" mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" xdt:Transform="Insert" />
      <remove fileExtension=".info" xdt:Transform="Insert" />
      <mimeMap fileExtension=".info" mimeType="text/plain" xdt:Transform="Insert" />
      <remove fileExtension=".mov" xdt:Transform="Insert" />
      <mimeMap fileExtension=".mov" mimeType="video/mov" xdt:Transform="Insert" />
      <remove fileExtension=".mp3" xdt:Transform="Insert" />
      <mimeMap fileExtension=".mp3" mimeType="audio/mpeg" xdt:Transform="Insert" />
      <remove fileExtension=".mp4" xdt:Transform="Insert" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" xdt:Transform="Insert" />
      <remove fileExtension=".mpeg" xdt:Transform="Insert" />
      <mimeMap fileExtension=".mpeg" mimeType="video/mpeg" xdt:Transform="Insert" />
      <remove fileExtension=".mpg" xdt:Transform="Insert" />
      <mimeMap fileExtension=".mpg" mimeType="video/mpg" xdt:Transform="Insert" />
      <remove fileExtension=".pdf" xdt:Transform="Insert" />
      <mimeMap fileExtension=".pdf" mimeType="application/pdf" xdt:Transform="Insert" />
      <remove fileExtension=".ppt" xdt:Transform="Insert" />
      <mimeMap fileExtension=".ppt" mimeType="application/vnd.ms-powerpoint" xdt:Transform="Insert" />
      <remove fileExtension=".pptx" xdt:Transform="Insert" />
      <mimeMap fileExtension=".pptx" mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation" xdt:Transform="Insert" />
      <remove fileExtension=".rar" xdt:Transform="Insert" />
      <mimeMap fileExtension=".rar" mimeType="application/x-rar-compressed" xdt:Transform="Insert" />
      <remove fileExtension=".rtf" xdt:Transform="Insert" />
      <mimeMap fileExtension=".rtf" mimeType="application/rtf" xdt:Transform="Insert" />
      <remove fileExtension=".wav" xdt:Transform="Insert" />
      <mimeMap fileExtension=".wav" mimeType="audio/wav" xdt:Transform="Insert" />
      <remove fileExtension=".webm" xdt:Transform="Insert" />
      <mimeMap fileExtension=".webm" mimeType="video/webm" xdt:Transform="Insert" />
      <remove fileExtension=".wma" xdt:Transform="Insert" />
      <mimeMap fileExtension=".wma" mimeType="audio/x-ms-wma" xdt:Transform="Insert" />
      <remove fileExtension=".wmv" xdt:Transform="Insert" />
      <mimeMap fileExtension=".wmv" mimeType="video/x-ms-wmv" xdt:Transform="Insert" />
      <remove fileExtension=".xls" xdt:Transform="Insert" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <mimeMap fileExtension=".xls" mimeType="application/vnd.ms-excel" xdt:Transform="Insert" />
      <remove fileExtension=".xlsx" xdt:Transform="Insert" />
      <mimeMap fileExtension=".xlsx" mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" xdt:Transform="Insert" />
    </staticContent>
  </system.webServer>
</configuration>